<!DOCTYPE html>
<html>
<head>
  <title>
   Login
  </title>
  <meta charset="ISO-8859-1">
   <link rel="stylesheet" type="text/css" href="../css/teste.css">
</head> 

<body>
    <div class = "divcentral">
      	 <a href="telainicial.php"><h1> Woman's Service </h1></a> 
             
        <!--
           <form action="../usuario/cadastrarservico.php" method="post">
            <legend>Cadastre Seu Servico:</legend>
             <h2>Servico:<br></h2>
             <input type="text" name="nome" value="">
            <br>
             <h2>Descricao:<br></h2>
             <input type="text" name="descricao" value="">
            <br><br>
          <input type="submit" value="Cadastrar Servico"> 
         </fieldset>
        </form>
     <a href="Login.html">Login</a>-->
  <header> 
   <
      <nav>
        <ul>      
          <li><a class = 'cabe' href=""> </a></li>
        </ul>
      </nav>
  </header>
 
        <form id="" action="../sql/sucesso.php" method="post">
          <fieldset>
          <legend>Login:</legend>
            <h2> E-mail:<br> </h2>
            <input type="text" name="email" value="">
            <br>
            <h2>Senha:<br> </h2>
           <input type="password" name="senha" value="">
            <br><br>
          <input type="submit" value="Ok"> 
                
           	<p>
        
    	</p>
 
         </fieldset>
        </form>
    <h2>
     Ainda nao possui cadastro?
      
  </h2>
  	<a href="Cadastrousuario1.php">
      Cadastre se</a>
       </div>
  </body>
</html>

